{% extends 'base.html.twig' %}


    {% block body %}
    <button type="button" class="btn btn-primary">Primary</button>
            <h1> Welcome </h1>
            <h2>Bonjour {{name}}</h2>
            <h3>Number : {{number}} </h3>
            <img src="{{asset('assets/img/GitHub-Mark.png')}}"></img>
    {% endblock %}

    
